<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <img id="logo" src="/img/logo.webp" alt="logo">
        <button id="boton_registrar">
            <a href="/login.html">Acceder</a>
        </button>
    </nav>
    <main>
        <h1 id="titulo">Principal</h1>
    </main>
    <footer>
        <p>Juan Jerez</p>
    </footer>
</body>
</html>
